[Unit]
Description=Dynamically generated and updated skill goal signatures for RuneScape players
After=network-online.target

[Service]
Environment=IMG_PATH=/opt/gosig/images
Environment=DISABLE_LOGGING=true
Environment=PORT=3344

Type=simple
User=gosig
WorkingDirectory=/opt/gosig/
ExecStart=/opt/gosig/gosig
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
